.dropdown {
    min-height: 100px;
    @media screen and (min-width: 921px) {
        display: none; 
    }

    position: relative;
    display: flex;
    justify-content: center;
    margin-top: -50px;
    padding-bottom: 20px;

    .dropdown-toggle {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-size: 24px;
        color: $color2;

        &:hover {
            color: $color1;
        }
    }

    .dropdown-menu {
        display: none;
        top: 100%;
        left: 0;
        background-color: white;
        border: 1px solid #ccc;
        border-radius: 5px;
        min-width: 200px;
        padding: 10px 0;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 1000;

        a {
            display: grid;
            justify-content: center;
            padding: 10px 15px;
            color: $color2;
            text-decoration: none;
            font-family: $font1;
            font-size: 1.1rem;
            font-weight: 500;

            &:hover {
                background-color: #f0f0f0;
            }
          }
      }

      input[type="checkbox"]:checked ~ .dropdown-menu {
        display: block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
      input[type="checkbox"] {
        display: none;
      }
}