@font-face {
    font-family: "cinzel";
    src: url(./assets/fonts/Cinzel-VariableFont_wght.ttf);
}

@font-face {
    font-family: "lato";
    src: url(./assets/fonts/Lato-Regular.ttf);
}

$font1: cinzel;
$font2: lato;

$color1: #464B62;
$color2: #838797;
$color3: rgb(34, 42, 65);

@mixin title {
    font-family: $font1;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: $color1;
}

@mixin text {
    font-family: $font2;
    color: $color1;
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    max-width: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}